@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/* @font-face {
  font-family: pixelsans;
  src: url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 176, 196, 222;
  font-family: 'Pixelify Sans';
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.body {
  /* color: rgb(var(--foreground-rgb)); */
  color: white;
  min-height: 100%;
  font-family: 'Pixelify Sans';
  background-color: rgb(83,104,120);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

main {
  height: 100vh;
}

.logo {
  font-size: 56px;
  margin-right: 8px;
  margin-left: 8px;
}

.logoball {
  width: 5vw
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}