.guess {
    display: flex;
    flex-direction: row;
}

#guesses{
    margin-top: 5%;
}

#guessTitle{
    margin-bottom: 5%;
}

#answers {
    text-align: center;
    margin: 12em auto 0 ;
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

#attrTitles{
    display: flex;
    flex-direction: row;
    text-align: center;
}
#attrTitles p {
    width: 100px;
    margin: 3px;
}
.guessAttr{
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 3px;
    text-align: center;
}
.guessAttr p{
    margin-top:33px;
}

.rbt {
    text-align: start;
}

.guessRight{
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 3px;
    text-align: center;
    background-color: limegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}


.guessWrong{
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 3px;
    text-align: center;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.guessOK{
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 3px;
    text-align: center;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}