.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.modal-body img {
    margin: auto;
    width: 20vw;
    height: 20vw;
}

#modal-content {
    background-color: #7b8aa4;
    border: 3px outset black; 
}

#closebutton {
    background-color: rgb(70, 137, 137);
    border: 2px outset lightseagreen;
}