.navlink {
    color: white;
    text-decoration: none;
}
.navlink:hover {
    color: white;
    margin: auto;
}

.navbutton {
    background-color: steelblue;
    width: 9vw;
    height: 4.5vh;
    border-radius: 5px;
    min-width: fit-content;
    border: 2px outset lightskyblue;
    margin: 2px 35px;
}

.navbutton:hover{
    background-color: rgb(38, 95, 142);
    border-color: rgb(128, 168, 201);
}

nav {
    padding: 5px 20px 20px 20px;
}

.loginbutton {
    padding: 8px 12px;
    text-decoration: none;
    background-color: rgb(169, 142, 107);
    border: 2px outset burlywood;
}
.loginbutton:hover {
    background-color: rgb(126, 101, 68);
    border-color: rgb(184, 140, 83);
}
.linklist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: 0 auto 10px auto;
    background-color: rgb(117, 154, 183);
    padding: 8px 0px;
    border-radius: 8px;
    border: 3px outset lightblue;
}